@import url('https://fonts.google.com/specimen/Varela+Round?subset=hebrew&noto.script=Hebr'); 

.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  